<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>
            WELCOME
        </h1>
        <h3> You can login here!</h3>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        </form>
        <button type="primary">login</button>
    </div>
</body>
</html>